{% extends pathjoin("includes", "base.nix.jinja") %}

{% block variables %}
let
  python-packages =
    p: with p; [
      python-lsp-server
      importmagic
      epc
    ];
in
{% endblock %}

{% block packages %}
    pdm
    (python3.withPackages python-packages)
{% endblock %}

{% block languages %}
  python = {
    enable = true;
    venv.enable = true;
  };
{% endblock %}

{% block hooks %}
    ruff.enable = true;
    pyright.enable = true;
    editorconfig-checker.enable = true;
{% endblock %}
