{% extends pathjoin("includes", "base.nix.jinja") %}

{% block languages %}
  python = {
    enable = true;
    venv = {
      enable = true;
      requirements = ''
pdm
python-lsp-server
importmagic
epc
'';
    };
  };
{% endblock %}

{% block hooks %}
    ruff.enable = true;
    pyright.enable = true;
    editorconfig-checker.enable = true;
{% endblock %}
